# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_MOSQUITO_LEFT

config ZMK_KEYBOARD_NAME
	default "Mosquito"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_MOSQUITO_LEFT || SHIELD_MOSQUITO_RIGHT

config ZMK_SPLIT
	default y

endif
