if SHIELD_DACTYL_MANUFORM_5x6_COSMOS_LEFT

    config ZMK_KEYBOARD_NAME
        default "DMRCOSMOS"

    config ZMK_SPLIT_BLE_ROLE_CENTRAL
        default y

endif

if SHIELD_DACTYL_MANUFORM_5x6_COSMOS_RIGHT

    config ZMK_KEYBOARD_NAME
        default "DMCOSMOS_R"

endif

if SHIELD_DACTYL_MANUFORM_5x6_COSMOS_LEFT || SHIELD_DACTYL_MANUFORM_5x6_COSMOS_RIGHT

    config ZMK_SPLIT
        default y

endif
