config SHIELD_DACTYL_MANUFORM_6x8_LEFT
    def_bool $(shields_list_contains,dactyl_manuform_6x8_left)

config SHIELD_DACTYL_MANUFORM_6x8_RIGHT
    def_bool $(shields_list_contains,dactyl_manuform_6x8_right)
