config SHIELD_DACTYL_MANUFORM_5x6_COSMOS_NEW_LEFT
    def_bool $(shields_list_contains,dactyl_manuform_5x6_cosmos_new_left)

config SHIELD_DACTYL_MANUFORM_5x6_COSMOS_NEW_RIGHT
    def_bool $(shields_list_contains,dactyl_manuform_5x6_cosmos_new_right)
